Repository ultra-sound-music/ultra-sound-music: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "eslint --cache --fix",
  "*.css": "stylelint --fix",
  "*.{js,jsx,ts,tsx,css,md}": "prettier --write"
}

moar
  apps/web/src/components/NewDrop/NewDrop.scss
  apps/web/src/pages/Landing/Landing.scss
Due: none

oops
  apps/web/src/pages/Landing/Landing.scss
Due: none

moar
  apps/web/src/components/App/App.tsx
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Link/Link.tsx
  libs/ui/src/components/SiteHeader/SiteHeader.tsx
Due: eslint --cache --fix, prettier --write

update styling
  libs/styles/src/global.scss
Due: none

add style-lint
  .husky/.gitignore
  .husky/pre-commit
  .prettierignore
  .stylelintignore
  package.json
  yarn.lock
Due: none

test
  .lintstagedrc.yml
  libs/ui/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

test
  libs/ui/src/components/Input/Input.tsx
Due: eslint --cache --fix, prettier --write

stylelint fix
  .stylelintignore
  .stylelintrc.json
  libs/sol-client/src/index.ts
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Input/Input.tsx
  libs/ui/src/components/Modal/Modal.scss
  libs/ui/src/components/Spinner/Spinner.scss
Due: eslint --cache --fix, prettier --write

stylelint fixes
  .stylelintrc.json
  .vscode/settings.json
  libs/ui/src/components/Figure/Figure.scss
  libs/ui/src/components/Figure/Figure.tsx
  libs/ui/src/components/Input/Input.scss
  libs/ui/src/components/Input/Input.tsx
  libs/ui/src/components/Spinner/Spinner.scss
Due: eslint --cache --fix, prettier --write

more lint fixes
  .lintstagedrc.json
  .lintstagedrc.yml
  apps/docs/.eslintrc.json
  apps/web/.stylelintrc.json
  apps/web/project.json
  apps/web/src/components/Borked/Borked.scss
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/NewDrop/NewDrop.scss
  apps/web/src/pages/Landing/Landing.scss
  libs/util/loader/.eslintrc.json
  libs/util/loader/tsconfig.json
  libs/util/loader/tsconfig.lib.json
  libs/util/loader/tsconfig.spec.json
  libs/util/logger/.eslintrc.json
  libs/util/logger/tsconfig.json
  libs/util/logger/tsconfig.lib.json
  libs/util/logger/tsconfig.spec.json
Due: none

Update BidBox
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.stories.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
Due: eslint --cache --fix, prettier --write

update styles
  apps/web/src/pages/Landing/Landing.tsx
  libs/styles/src/global.scss
  libs/styles/src/utils.scss
  libs/ui/src/components/Col/Col.tsx
  libs/ui/src/components/Nav/Nav.scss
  libs/ui/src/components/Nav/Nav.tsx
  libs/ui/src/components/SiteHeader/SiteHeader.scss
Due: eslint --cache --fix, prettier --write

update styles
  apps/web/src/components/NewDrop/NewDrop.tsx
  libs/ui/src/components/Image/Image.scss
  libs/ui/src/components/Image/Image.tsx
  libs/ui/src/components/SiteFooter/SiteFooter.scss
  libs/ui/src/components/SiteFooter/SiteFooter.tsx
Due: eslint --cache --fix, prettier --write

fix
  libs/ui/src/components/Grid/Grid.tsx
Due: eslint --cache --fix, prettier --write

update bg grid
  libs/styles/src/utils.scss
Due: none

update styles
  .vscode/settings.json
  apps/web/project.json
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  apps/web/src/styles/styles.scss
  libs/images/src/hero_jambot1.png
  libs/images/src/smoke.png
  libs/images/src/traits.png
  libs/styles/src/colors.scss
  libs/styles/src/global.scss
  libs/styles/src/typo.scss
  libs/ui/src/components/Accordian/Accordian.scss
  libs/ui/src/components/Col/Col.tsx
  libs/ui/src/components/Input/Input.tsx
  libs/ui/src/components/Nav/Nav.scss
  libs/ui/src/components/SiteFooter/SiteFooter.scss
  libs/ui/src/components/SiteHeader/SiteHeader.scss
Due: eslint --cache --fix, prettier --write

ui updates
  apps/web/src/components/App/App.tsx
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/images/src/drop_stamp_jambots.png
  libs/images/src/hero_jambot2.png
  libs/images/src/stamp_jambots.png
  libs/styles/src/typo.scss
  libs/styles/src/utils.scss
  libs/ui/src/components/CollectionStamp/CollectionStamp.scss
  libs/ui/src/components/CollectionStamp/CollectionStamp.tsx
  libs/ui/src/components/SiteFooter/SiteFooter.tsx
Due: eslint --cache --fix, prettier --write

updates
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/content/src/copy.ts
  libs/content/src/index.ts
  libs/images/src/badges/debut.png
  libs/images/src/badges/hometown.png
  libs/images/src/badges/version.png
  libs/styles/src/global.scss
  libs/styles/src/typo.scss
  libs/ui/src/components/Callout/Callout.scss
  libs/ui/src/components/Nav/Nav.scss
Due: eslint --cache --fix, prettier --write

fix icon colors
  apps/web/src/components/App/App.tsx
Due: eslint --cache --fix, prettier --write

format
  apps/web/project.json
  apps/web/public/index.html
  apps/web/src/components/Borked/Borked.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/components/PageNotFound/PageNotFound.scss
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/content/src/copy.ts
  libs/content/src/index.ts
  libs/images/src/favicons/site.webmanifest
  libs/styles/src/global.scss
  libs/styles/src/typo.scss
  libs/styles/src/utils.scss
  libs/ui/src/components/Callout/Callout.scss
  workspace.json
Due: eslint --cache --fix, prettier --write

update to yarn 3
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
Due: none

yarn 3 pt 2
  .gitignore
  .yarnrc.yml
  yarn.lock
Due: none

add path to config
  tsconfig.base.json
Due: none

Improved build
  .gitignore
  .yarnrc.yml
  apps/web/build/webpack.js
  apps/web/project.json
  apps/web/public/index.html
  apps/web/src/index.tsx
  libs/config/package.json
  libs/config/project.json
  libs/config/src/defaults.ts
  libs/config/src/environment.prod.ts
  libs/config/src/environment.stage.ts
  libs/config/src/environment.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix alignment
  apps/web/src/pages/Landing/Landing.tsx
Due: eslint --cache --fix, prettier --write

oops
  apps/web/src/pages/Landing/Landing.tsx
Due: eslint --cache --fix, prettier --write

tweak wording
  libs/content/src/index.ts
Due: eslint --cache --fix, prettier --write

fix typo
  apps/web/src/components/ComingSoon/ComingSoon.tsx
Due: eslint --cache --fix, prettier --write

update docs
  apps/docs/docs/Applications/web.md
  apps/docs/docs/architecture.md
  apps/docs/docs/intro.md
  apps/docs/docs/tutorial-basics/_category_.json
  apps/docs/docs/tutorial-basics/congratulations.md
  apps/docs/docs/tutorial-basics/create-a-blog-post.md
  apps/docs/docs/tutorial-basics/create-a-document.md
  apps/docs/docs/tutorial-basics/create-a-page.md
  apps/docs/docs/tutorial-basics/deploy-your-site.md
  apps/docs/docs/tutorial-basics/markdown-features.mdx
  apps/docs/docs/tutorial-extras/_category_.json
  apps/docs/docs/tutorial-extras/manage-docs-versions.md
  apps/docs/docs/tutorial-extras/translate-your-site.md
  apps/docs/docusaurus.config.js
  apps/docs/static/img/depgraph.png
Due: eslint --cache --fix, prettier --write

format
  apps/web/src/components/ComingSoon/ComingSoon.tsx
Due: eslint --cache --fix, prettier --write

update docs
  apps/docs/project.json
  apps/docs/src/pages/index.js
  apps/docs/src/pages/index.md
  apps/docs/src/pages/index.module.css
  apps/docs/src/pages/markdown-page.md
Due: eslint --cache --fix, stylelint --fix, prettier --write

draft of traits
  apps/web/src/pages/Landing/Landing.tsx
  libs/audio-player/src/AudioPlayer.ts
  libs/styles/src/typo.scss
  libs/ui/src/components/Pill/Pill.scss
  libs/ui/src/components/Pill/Pill.stories.tsx
  libs/ui/src/components/Pill/Pill.tsx
  libs/ui/src/components/PillMeter/PillMeter.scss
  libs/ui/src/components/PillMeter/PillMeter.stories.tsx
  libs/ui/src/components/PillMeter/PillMeter.tsx
  libs/ui/src/components/SiteFooter/SiteFooter.tsx
  libs/ui/src/index.ts
  libs/ui/src/styleguide/Typography/Typography.stories.tsx
  libs/util/utils/.babelrc
  libs/util/utils/.eslintrc.json
  libs/util/utils/README.md
  libs/util/utils/project.json
  libs/util/utils/src/index.ts
  libs/util/utils/tsconfig.json
  libs/util/utils/tsconfig.lib.json
  libs/util/utils/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: eslint --cache --fix, prettier --write

format
  apps/docs/project.json
  libs/styles/src/typo.scss
  libs/ui/src/components/Pill/Pill.scss
  libs/ui/src/components/Pill/Pill.tsx
  libs/ui/src/components/PillMeter/PillMeter.scss
  libs/ui/src/components/PillMeter/PillMeter.tsx
  libs/ui/src/styleguide/Typography/Typography.stories.tsx
  libs/util/utils/src/index.ts
  tsconfig.base.json
Due: eslint --cache --fix, prettier --write

fix
  libs/ui/src/components/PillMeter/PillMeter.tsx
Due: eslint --cache --fix, prettier --write

fix path
  libs/ui/project.json
Due: none

tweak
  apps/web/src/pages/Landing/Landing.tsx
Due: eslint --cache --fix, prettier --write

adjust layout
  apps/web/src/pages/Landing/Landing.tsx
  libs/content/src/copy.ts
Due: eslint --cache --fix, prettier --write
