Repository ultra-sound-music/ultra-sound-music: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, stylelint --fix, prettier --write

auction tests running
  libs/auction/jest.config.js
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  libs/auction/tests/token.test.ts
  libs/auction/tests/utils.ts
  libs/auction/tsconfig.json
  libs/auction/tsconfig.spec.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update get metadata
  libs/auction/src/index.ts
  libs/auction/tests/token.test.ts
  libs/auction/tests/utils.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update get metadata
  libs/auction/src/index.ts
  libs/auction/tests/token.test.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Cm/add auction code (#61)
  libs/auction/.eslintrc.json
  libs/auction/.gitignore
  libs/auction/README.md
  libs/auction/jest.config.js
  libs/auction/package.json
  libs/auction/project.json
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  libs/auction/tests/auction.test.ts
  libs/auction/tests/token.test.ts
  libs/auction/tests/utils.ts
  libs/auction/tsconfig.json
  libs/auction/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update docs
  apps/docs/docs/Libraries/index.md
Due: nx format:write --all --uncommitted, prettier --write

integrate with web
  libs/auction/.babelrc
  libs/auction/.gitignore
  libs/auction/package.json
  libs/auction/tsconfig.json
  libs/auction/tsconfig.lib.json
  libs/auction/tsconfig.spec.json
  tsconfig.base.json
Due: none

bidbox + general ui updates
  apps/web/src/components/App/App.scss
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  apps/web/src/components/Buttons/NetworkButton/NetworkButton.tsx
  apps/web/src/components/Landing/Landing.tsx
  apps/web/src/components/NewDrop/NewDrop.scss
  libs/app-state/src/web3/index.ts
  libs/config/src/env.ts
  libs/config/src/index.ts
  libs/content/src/copy.ts
  libs/sol-client/src/auction.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/utils/utils.ts
  libs/styles/src/global.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.stories.tsx
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/BidBox/BidBoxForm.scss
  libs/ui/src/components/BidBox/BidBoxForm.tsx
  libs/ui/src/components/BidBox/BidBoxInfo.scss
  libs/ui/src/components/BidBox/BidBoxInfo.tsx
  libs/ui/src/components/BidBox/BidBoxStatus.scss
  libs/ui/src/components/BidBox/BidBoxStatus.tsx
  libs/ui/src/components/BidHistory/BidHistory.tsx
  libs/ui/src/components/BidHistory/BidHistoryItem.tsx
  libs/ui/src/components/Modal/Modal.scss
  libs/ui/src/components/MusicalTrait/MusicalTrait.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/components/Notification/Notification.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.scss
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
  libs/util/string/src/index.ts
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add nft metadata to getauctiondata
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  package.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add exports
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

rename test to spec
  libs/auction/tests/auction.spec.ts
  libs/auction/tests/token.spec.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fetch metadata from uri
  libs/auction/src/utils/utils.ts
  package.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add nft metadata to getauctiondata (#62)
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  package.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

optimizations
  apps/web/src/index.tsx
  libs/config/src/env.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update docs for publishing
  apps/docs/docs/publishing.md
Due: nx format:write --all --uncommitted, prettier --write

Update docs
  apps/docs/docs/DAO/devnet.md
  apps/docs/docs/DAO/index.md
  apps/docs/docs/DAO/resources.md
  apps/docs/docs/DAO/ui.md
  apps/docs/docs/Solana/publishing.md
  apps/docs/docs/publishing.md
Due: nx format:write --all --uncommitted, prettier --write

Update docs
  apps/docs/docs/DAO/devnet.md
  apps/docs/docs/Solana/auctioningNfts.md
Due: nx format:write --all --uncommitted, prettier --write

updated redeem bid and redeem participationg bid fn
  libs/auction/src/actions/redeemParticipationBid.ts
  libs/auction/src/actions/redeemTokenOnlyBid.ts
  libs/auction/src/index.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Handle more auction states
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.stories.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/BidBox/BidBoxStatus/BidBoxStatus.tsx
  libs/ui/src/components/BidHistory/BidHistory.tsx
  libs/ui/src/components/NftAuction/NftAuction.scss
  libs/ui/src/components/NftAuction/NftAuction.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Run migrations minus the storybook migration
  nx.json
  package.json
  yarn.lock
Due: none

upgrade storybook packages
  libs/ui/README.md
  libs/ui/package.json
  libs/ui/tsconfig.json
  nx.json
  package.json
  yarn.lock
Due: nx format:write --all --uncommitted, prettier --write

update deps
  package.json
  yarn.lock
Due: none

More changes to support new Guillermo app
  apps/guillermo/src/components/App/App.tsx
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  libs/app-state/tsconfig.json
  libs/arweave/tsconfig.json
  libs/components/src/Buttons/ArweaveButton/ArweaveButton.tsx
  libs/components/tsconfig.json
  libs/services/solanafm/tsconfig.json
  libs/ui/src/components/BidBox/BidBoxInfo/BidBoxInfo.tsx
  libs/ui/src/components/Buttons/NetworkButton/NetworkButton.tsx
  libs/ui/src/components/FormFieldSets/InputListFieldSet/InputListFieldSet.tsx
  libs/ui/src/components/FormFields/FormField.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Improved UI + Support for redeeming & refunds
  apps/docs/docs/Solana/resources.md
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  apps/web/src/components/Buttons/RedeemBidButton/RedeemBidButton.tsx
  apps/web/src/components/Buttons/RedeemParticipation/RedeemParticipation.tsx
  apps/web/src/components/Buttons/RefundButton/RefundButton.tsx
  apps/web/src/components/Landing/Landing.scss
  libs/app-state/src/web3/solana.ts
  libs/auction/src/index.ts
  libs/auction/src/redeemTokenOnlyBid.ts
  libs/auction/src/utils/transactionsBatch.ts
  libs/auction/src/utils/utils.ts
  libs/config/src/env.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/wallets.ts
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBoxInfo/BidBoxInfo.scss
  libs/ui/src/components/BidBox/BidBoxStatus/BidBoxStatus.tsx
  libs/ui/src/components/BidHistory/BidHistoryItem.scss
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update lint staged
  .lintstagedrc.json
  libs/auction/src/utils/transactionsBatch.ts
  package.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Select currentAddress in bidHistory
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  libs/ui/src/components/BidBox/BidBoxStatus/BidBoxStatus.tsx
  libs/ui/src/components/BidHistory/BidHistory.tsx
  libs/ui/src/components/BidHistory/BidHistoryItem.scss
  libs/ui/src/components/BidHistory/BidHistoryItem.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix env variables
  libs/app-state/src/web3/solana/models/auctions.ts
  libs/config/src/env.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix env vars
  libs/config/src/env.ts
  libs/config/src/environment.dev.ts
  libs/config/src/environment.prod.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Reduce chances for borkage when configs are missing
  apps/web/src/components/App/App.tsx
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  libs/app-state/src/web3/solana/api.ts
  libs/app-state/src/web3/solana/hooks.ts
  libs/app-state/src/web3/solana/init.ts
  libs/app-state/src/web3/solana/models/auctions.ts
  libs/app-state/src/web3/solana/registry.ts
  libs/config/src/environment.ts
  libs/config/src/errors.ts
  libs/config/src/index.ts
  libs/sol-client/src/utils/miscUtils.ts
  libs/ui/src/components/BidHistory/BidHistoryItem.tsx
  libs/util/logger/package.json
  libs/util/logger/project.json
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Multiple auctions are now enabled
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  libs/app-state/src/web3/solana/models/auctions.ts
  libs/ui/src/components/Carousel/Carousel.tsx
  libs/ui/src/components/NftAuction/NftAuction.tsx
  libs/ui/src/components/Paginate/Paginate.stories.tsx
  libs/ui/src/components/Paginate/Paginate.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

share webpack configs between apps
  apps/guillermo/build/webpack.js
  apps/guillermo/project.json
  apps/web/build/webpack.js
  tools/build/webpack.js
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Improved build
  apps/guillermo/package.json
  apps/web/package.json
  apps/web/public/index.html
  libs/config/src/build.ts
  libs/config/src/defaults.ts
  libs/config/src/env.ts
  libs/config/src/index.ts
  libs/config/tsconfig.json
  tools/build/webpack.js
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix env fields
  libs/config/src/env.ts
  libs/config/src/environment.dev.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix nx build?
  package.json
  yarn.lock
Due: none

upgrade NX to v13.10.0
  package.json
  yarn.lock
Due: none

Path conditions:
  nx affected:lint --fix: any of: *.{js,jsx,ts,tsx}
  nx affected --target=stylelint --fix: any of: *.{css,scss}
  nx format:write --all --uncommitted: any of: *.{js,jsx,ts,tsx,css,scss,md}
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,jsx,ts,tsx,css,md}
