Repository ultra-sound-music/ultra-sound-music: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "nx affected:lint --fix",
  "*.{css,scss}": "nx affected --target=stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "nx format:write --all --uncommitted"
}

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --cache --fix
'*.css':
  - stylelint --fix
'*.{js,jsx,ts,tsx,css,md}': 
  - prettier --write

adjust layout
  apps/web/src/pages/Landing/Landing.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

initial responsive
  apps/web/src/components/App/App.scss
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/components/NewDrop/NewDrop.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/styles/src/layout.scss
  libs/ui/src/components/Nav/Nav.scss
  libs/ui/src/components/Section/Section.scss
  libs/ui/src/components/SiteFooter/SiteFooter.scss
  libs/ui/src/components/SiteHeader/SiteHeader.scss
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

format
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/components/NewDrop/NewDrop.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/styles/src/layout.scss
  libs/ui/src/components/Nav/Nav.scss
  libs/ui/src/components/SiteFooter/SiteFooter.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update responsive layout
  apps/web/src/components/App/App.scss
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/pages/Landing/Landing.scss
  libs/images/src/hero_jambot1.png
  libs/styles/src/layout.scss
  libs/ui/src/components/Callout/Callout.scss
  libs/ui/src/components/Callout/Callout.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

format
  apps/web/src/pages/Landing/Landing.scss
  libs/ui/src/components/Callout/Callout.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update callout
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  libs/ui/src/components/Callout/Callout.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Update BidBox alignment within NewDrop
  apps/web/src/components/NewDrop/NewDrop.scss
  apps/web/src/components/NewDrop/NewDrop.tsx
  apps/web/src/pages/Landing/Landing.scss
  libs/ui/src/components/BidBox/BidBox.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui updates
  apps/web/src/components/App/App.scss
  apps/web/src/components/App/App.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/assets/src/img/traits.png
  libs/content/src/copy.ts
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.stories.tsx
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/ui/src/components/Badges/Badges.scss
  libs/ui/src/components/Badges/Badges.spec.tsx
  libs/ui/src/components/Badges/Badges.tsx
  libs/ui/src/components/BurgerMenu/BurgerMenu.scss
  libs/ui/src/components/BurgerMenu/BurgerMenu.spec.tsx
  libs/ui/src/components/BurgerMenu/BurgerMenu.tsx
  libs/ui/src/components/Nav/Nav.scss
  libs/ui/src/components/Nav/Nav.tsx
  libs/ui/src/components/Pill/Pill.scss
  libs/ui/src/components/Pill/Pill.stories.tsx
  libs/ui/src/components/Pill/Pill.tsx
  libs/ui/src/components/PillMeter/PillMeter.scss
  libs/ui/src/components/PillMeter/PillMeter.stories.tsx
  libs/ui/src/components/PillMeter/PillMeter.tsx
  libs/ui/src/components/Section/Section.scss
  libs/ui/src/components/Section/Section.tsx
  libs/ui/src/index.ts
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix
  apps/web/src/components/NewDrop/NewDrop.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

fix ui
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.stories.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui tweak
  apps/web/src/pages/Landing/Landing.scss
  libs/ui/src/components/Badges/Badges.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Improved tooltip
  apps/web/build/webpack.js
  apps/web/src/components/App/App.scss
  apps/web/src/pages/Landing/Landing.scss
  libs/assets/src/img/tooltip.svg
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui updates
  .gitignore
  apps/web/src/components/App/App.scss
  libs/assets/src/img/badges/debut.png
  libs/assets/src/img/badges/hometown.png
  libs/assets/src/img/badges/version.png
  libs/assets/src/img/pill_border.svg
  libs/assets/src/img/pill_border_hover.svg
  libs/assets/src/lottie/badges/debut.json
  libs/assets/src/lottie/badges/hometown.json
  libs/assets/src/lottie/badges/version.json
  libs/styles/src/typo.scss
  libs/ui/src/components/Badges/Badges.tsx
  libs/ui/src/components/Pill/Pill.scss
  libs/util/utils/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

format
  apps/web/src/components/App/App.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/pages/Landing/Landing.scss
  apps/web/src/pages/Landing/Landing.tsx
  libs/assets/src/lottie/1_b.json
  libs/assets/src/lottie/2_a.json
  libs/assets/src/lottie/3_b.json
  libs/assets/src/lottie/badges/debut.json
  libs/assets/src/lottie/badges/hometown.json
  libs/assets/src/lottie/badges/version.json
  libs/assets/src/lottie/bar.json
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/ui/src/components/Badges/Badges.scss
  libs/ui/src/components/Badges/Badges.tsx
  libs/ui/src/components/BurgerMenu/BurgerMenu.scss
  libs/ui/src/components/BurgerMenu/BurgerMenu.tsx
  libs/ui/src/components/Nav/Nav.tsx
  libs/ui/src/components/Pill/Pill.tsx
  libs/util/script-loader/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update ui + favicons\
  apps/web/src/components/Landing/Landing.scss
  apps/web/src/components/Landing/Landing.tsx
  libs/assets/src/img/favicons/android-chrome-192x192.png
  libs/assets/src/img/favicons/android-chrome-256x256.png
  libs/assets/src/img/favicons/android-chrome-512x512.png
  libs/assets/src/img/favicons/apple-touch-icon.png
  libs/assets/src/img/favicons/favicon-16x16.png
  libs/assets/src/img/favicons/favicon-32x32.png
  libs/assets/src/img/favicons/favicon.ico
  libs/assets/src/img/favicons/mstile-144x144.png
  libs/assets/src/img/favicons/mstile-150x150.png
  libs/assets/src/img/favicons/mstile-310x150.png
  libs/assets/src/img/favicons/mstile-310x310.png
  libs/assets/src/img/favicons/mstile-70x70.png
  libs/assets/src/img/favicons/safari-pinned-tab.svg
  libs/assets/src/img/favicons/site.webmanifest
  libs/assets/src/img/logo.png
  libs/assets/src/lottie/1_b.json
  libs/assets/src/lottie/2_a.json
  libs/assets/src/lottie/3_b.json
  libs/assets/src/lottie/animated_meters/meter_1.json
  libs/assets/src/lottie/animated_meters/meter_2.json
  libs/assets/src/lottie/animated_meters/meter_3.json
  libs/assets/src/lottie/bar.json
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Bidbox tweaks
  libs/styles/src/typo.scss
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Button/Button.stories.tsx
  libs/ui/src/components/Button/Button.tsx
  libs/ui/src/components/Paginate/Paginate.scss
  libs/ui/src/components/SiteHeader/SiteHeader.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

format
  apps/web/src/components/App/App.tsx
  apps/web/src/components/Buttons/ConnectButton/ConnectButton.tsx
  apps/web/src/index.tsx
  apps/web/src/tools/Debug/Debug.tsx
  libs/app-state/src/web3/index.ts
  libs/assets/src/img/favicons/site.webmanifest
  libs/sol-client/src/index.ts
  libs/styles/src/global.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/util/web/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

vs code settings
  .vscode/settings.json
Due: none

updating styles
  .stylelintrc.json
  apps/web/src/components/Borked/Borked.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

fix stylelint + prettier
  .vscode/settings.json
  package.json
  yarn.lock
Due: none

fix build
  .vscode/settings.json
  README.md
  libs/app-state/project.json
  libs/audio-player/package.json
  libs/content/package.json
  libs/sol-client/package.json
  libs/sol-client/project.json
  libs/store/package.json
  libs/styles/package.json
  libs/styles/src/global.scss
  libs/ui/package.json
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted, prettier --write

Minor Bidbox tweaks
  libs/styles/src/global.scss
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

remove cruft from readme
  README.md
Due: nx format:write --all --uncommitted, prettier --write

Add auction code from usm-ts into sol-client library
  libs/sol-client/src/auction.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/utils.ts
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Got placeBid working from clicking "Bid now" from BidBox!
  apps/web/build/webpack.js
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/auction.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/utils.ts
  libs/sol-client/tsconfig.json
  libs/ui/src/components/BidBox/BidBox.tsx
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add notification hook
  libs/app-state/src/ui/index.ts
  libs/app-state/src/ui/modals.ts
  libs/app-state/src/ui/notifications.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Adds draft update to Button + Notifications
  libs/assets/src/img/phantom_purple.svg
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Button/Button.stories.tsx
  libs/ui/src/components/Button/Button.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/components/Notification/Notification.stories.tsx
  libs/ui/src/components/Notification/Notification.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add modal to ui
  apps/web/src/components/App/App.tsx
  apps/web/src/components/Modal/Modal.scss
  apps/web/src/components/Modal/Modal.spec.tsx
  apps/web/src/components/Modal/Modal.tsx
  libs/app-state/src/ui/notifications.ts
  libs/ui/src/components/Modal/Modal.scss
  libs/ui/src/components/Modal/Modal.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/components/Notification/Notification.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add env variables to config
  apps/web/src/index.tsx
  libs/config/src/environment.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Adds graphQL service: solanaFM
  apps/web/src/components/SolanaFMProvider/SolanaFMProvider.spec.tsx
  apps/web/src/components/SolanaFMProvider/SolanaFMProvider.tsx
  apps/web/src/index.tsx
  libs/config/src/environment.ts
  libs/services/solanafm/.babelrc
  libs/services/solanafm/.eslintrc.json
  libs/services/solanafm/README.md
  libs/services/solanafm/jest.config.js
  libs/services/solanafm/package.json
  libs/services/solanafm/project.json
  libs/services/solanafm/src/ApolloClientProvider.tsx
  libs/services/solanafm/src/hooks.ts
  libs/services/solanafm/src/index.ts
  libs/services/solanafm/src/queries.ts
  libs/services/solanafm/tsconfig.json
  libs/services/solanafm/tsconfig.lib.json
  libs/services/solanafm/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
  yarn.lock
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add docs for solanafm graphql client
  apps/docs/docs/Libraries/services-solanafm.md
Due: nx format:write --all --uncommitted, prettier --write

format
  apps/web/src/components/Modal/Modal.tsx
  apps/web/src/components/SolanaFMProvider/SolanaFMProvider.tsx
  libs/app-state/src/ui/index.ts
  libs/app-state/src/ui/modals.ts
  libs/assets/src/lottie/animated_meters/meter_1.json
  libs/assets/src/lottie/animated_meters/meter_2.json
  libs/assets/src/lottie/animated_meters/meter_3.json
  libs/services/solanafm/src/queries.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add support for process.env
  libs/config/tsconfig.lib.json
Due: none

[fix #57, #58] UI Updates
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/ComingSoon/ComingSoon.tsx
  apps/web/src/components/Landing/Landing.tsx
  libs/content/src/copy.ts
  libs/content/src/index.ts
  libs/styles/src/typo.scss
  libs/ui/src/components/Badges/Badges.scss
  libs/ui/src/components/Callout/Callout.scss
  libs/ui/src/components/TextBlock/TextBlock.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix build
  libs/sol-client/src/auction.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui tweaks
  apps/web/src/components/ComingSoon/ComingSoon.scss
  libs/styles/src/layout.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

ui tweaks
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/Landing/Landing.scss
  libs/styles/src/layout.scss
  libs/ui/src/components/Callout/Callout.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted
