Repository ultra-sound-music/ultra-sound-music: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": "nx affected:lint --fix",
  "*.{css,scss}": "nx affected --target=stylelint --fix",
  "*.{js,jsx,ts,tsx,css,scss,md}": "nx format:write --all --uncommitted"
}

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}':
  - eslint --cache --fix
'*.css':
  - stylelint --fix
'*.{js,jsx,ts,tsx,css,md}': 
  - prettier --write

ui tweaks
  apps/web/src/components/Landing/Landing.scss
  apps/web/src/components/Landing/Landing.tsx
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/ui/src/components/Badges/Badges.tsx
  libs/ui/src/components/Pill/Pill.scss
  libs/ui/src/components/TextBlock/TextBlock.scss
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui tweaks
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/Landing/Landing.scss
  libs/ui/src/components/Pill/Pill.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

final ui tweaks
  apps/web/src/components/ComingSoon/ComingSoon.scss
  apps/web/src/components/Landing/Landing.scss
  libs/assets/src/img/logo_white.svg
  libs/styles/src/layout.scss
  libs/ui/src/components/BurgerMenu/BurgerMenu.scss
  libs/ui/src/components/SiteHeader/SiteHeader.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

fix logo
  libs/ui/src/components/SiteHeader/SiteHeader.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

fix top padding
  apps/web/src/components/ComingSoon/ComingSoon.scss
Due: nx affected --target=stylelint --fix, nx format:write --all --uncommitted

Fix nx serve ui
  apps/web/build/webpack.js
  libs/ui/src/components/Notification/Notification.tsx
  package.json
  yarn.lock
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Add key to bid history items
  libs/ui/src/components/BidBox/BidBox.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Fix small Button, update BidBox text color and small buttons, update sol-client from usm-ts
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/auction.ts
  libs/sol-client/src/consts.ts
  libs/sol-client/src/utils/utils.ts
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Button/Button.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Remove obsolete utils file
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/utils.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Start on TraitsBox
  apps/web/src/components/NewDrop/NewDrop.tsx
  libs/ui/src/components/AuctionContainer/AuctionContainer.scss
  libs/ui/src/components/AuctionContainer/AuctionContainer.spec.tsx
  libs/ui/src/components/AuctionContainer/AuctionContainer.stories.tsx
  libs/ui/src/components/AuctionContainer/AuctionContainer.tsx
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.stories.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.scss
  libs/ui/src/components/TraitsBox/TraitsBox.spec.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.stories.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

TraitsBox layout
  libs/ui/src/components/TraitsBox/TraitsBox.scss
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

More TraitsBox updates
  apps/web/src/components/App/App.tsx
  apps/web/src/components/Landing/Landing.tsx
  libs/ui/src/components/AuctionContainer/AuctionContainer.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.scss
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

updates
  apps/web/src/components/App/App.tsx
  apps/web/src/components/Buttons/ConnectButton/ConnectButton.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.spec.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.tsx
  libs/ui/src/components/SiteHeader/SiteHeader.scss
  libs/ui/src/components/SiteHeader/SiteHeader.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

UI Tweaks
  libs/app-state/src/ui/modals.ts
  libs/assets/src/img/logo_white.svg
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/SiteFooter/SiteFooter.scss
  libs/ui/src/components/SiteFooter/SiteFooter.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

ui updates
  apps/web/src/components/Modal/Modal.scss
  apps/web/src/components/Modal/Modal.tsx
  libs/app-state/src/ui/modals.ts
  libs/app-state/src/ui/notifications.ts
  libs/assets/src/img/solana_logo_s.svg
  libs/styles/src/colors.scss
  libs/ui/src/components/Avatar/Avatar.scss
  libs/ui/src/components/Avatar/Avatar.stories.tsx
  libs/ui/src/components/Avatar/Avatar.tsx
  libs/ui/src/components/Button/Button.stories.tsx
  libs/ui/src/components/Image/BaseImage.tsx
  libs/ui/src/components/Image/Image.scss
  libs/ui/src/components/Image/Image.stories.tsx
  libs/ui/src/components/Image/Image.tsx
  libs/ui/src/components/Modal/Modal.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.scss
  libs/ui/src/components/Modals/BidModal/BidModal.stories.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/components/Notification/Notification.tsx
  libs/ui/src/components/Spinner/Spinner.scss
  libs/ui/src/components/Spinner/Spinner.tsx
  libs/ui/src/styleguide/Colors/Colors.scss
  libs/ui/src/styleguide/Colors/Colors.stories.tsx
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Fill BidBox with some real data
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/auction.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/utils/utils.ts
  libs/ui/src/components/AuctionContainer/AuctionContainer.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Revert accidental hard-coding of wearelive to true
  apps/web/src/components/App/App.tsx
  apps/web/src/components/Landing/Landing.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix build
  libs/sol-client/tsconfig.lib.json
Due: none

Cleanup configs
  libs/app-state/.babelrc
  libs/app-state/.eslintrc.json
  libs/app-state/README.md
  libs/app-state/jest.config.js
  libs/app-state/project.json
  libs/app-state/tsconfig.json
  libs/app-state/tsconfig.lib.json
  libs/sol-client/.babelrc
  libs/sol-client/README.md
  libs/sol-client/project.json
  libs/sol-client/tsconfig.json
  libs/sol-client/tsconfig.lib.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Fix ui serve build
  libs/sol-client/src/utils/utils.ts
  libs/ui/src/components/BidBox/BidBox.stories.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Fix bid history time display
  libs/ui/src/components/BidBox/BidBox.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Add types to modal hook
  apps/web/src/components/Modal/Modal.tsx
  libs/app-state/src/ui/modals.ts
  libs/ui/src/components/Modal/Modal.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

remove syntactic sugar i think it will just lead to confusion
  libs/app-state/src/ui/modals.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

updated docs
  apps/docs/docs/Applications/docs.md
  apps/docs/docs/DAO/devnet.md
  apps/docs/docs/DAO/index.md
  apps/docs/docs/DAO/resources.md
  apps/docs/docs/Libraries/app-state.md
  apps/docs/docs/Libraries/store.md
  apps/docs/docs/Libraries/ui.md
  apps/docs/docs/Solana/resources.md
  apps/docs/docs/architecture.md
  apps/docs/static/img/depgraph.png
Due: nx format:write --all --uncommitted, prettier --write

add DAO FAQ
  apps/docs/docs/DAO/faq.md
Due: nx format:write --all --uncommitted, prettier --write

Add IN_PROGRESS_AUCTION_PUBKEY
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/consts.ts
  libs/ui/src/components/AuctionContainer/AuctionContainer.tsx
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.scss
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Fix naming
  apps/web/src/components/Landing/Landing.tsx
  libs/ui/src/components/Accordion/Accordion.scss
  libs/ui/src/components/Accordion/Accordion.stories.tsx
  libs/ui/src/components/Accordion/Accordion.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

add cli docs
  apps/docs/docs/Libraries/usm-cli.md
Due: nx format:write --all --uncommitted, prettier --write

add create metadata example
  apps/docs/docs/Libraries/usm-cli.md
Due: nx format:write --all --uncommitted, prettier --write

add walkthrough of uploading img, metadata and minting nft
  apps/docs/docs/Libraries/usm-cli.md
Due: nx format:write --all --uncommitted, prettier --write

update bid experience
  .vscode/settings.json
  apps/web/src/components/App/App.tsx
  apps/web/src/components/AuctionContainer/AuctionContainer.scss
  apps/web/src/components/AuctionContainer/AuctionContainer.spec.tsx
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  apps/web/src/components/Buttons/ConnectButton/ConnectButton.tsx
  apps/web/src/components/Landing/Landing.tsx
  apps/web/src/components/NewDrop/NewDrop.tsx
  apps/web/src/components/Notification/Notification.spec.tsx
  apps/web/src/components/Notification/Notification.tsx
  libs/app-state/src/ui/notifications.ts
  libs/app-state/src/web3/index.ts
  libs/config/src/environment.ts
  libs/sol-client/src/auction.ts
  libs/sol-client/src/index.ts
  libs/ui/src/components/AuctionContainer/AuctionContainer.stories.tsx
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/components/Notification/Notification.tsx
  libs/ui/src/components/Paginate/Paginate.scss
  libs/ui/src/components/Paginate/Paginate.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix header button
  apps/web/src/components/App/App.tsx
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update env configs
  apps/web/public/index.html
  libs/config/src/environment.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

Cm/docs (#60)
  apps/docs/docs/Libraries/usm-cli.md
Due: nx format:write --all --uncommitted, prettier --write

more bid ui updates
  apps/web/src/components/App/App.tsx
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  apps/web/src/components/Buttons/ConnectButton/ConnectButton.tsx
  apps/web/src/components/Buttons/NetworkButton/NetworkButton.tsx
  apps/web/src/components/Modal/Modal.tsx
  libs/app-state/src/ui/modals.ts
  libs/app-state/src/web3/index.ts
  libs/sol-client/src/index.ts
  libs/sol-client/src/wallets.ts
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Button/Button.stories.tsx
  libs/ui/src/components/Icons/SolanaIcon/SolanaIcon.scss
  libs/ui/src/components/Icons/SolanaIcon/SolanaIcon.spec.tsx
  libs/ui/src/components/Icons/SolanaIcon/SolanaIcon.tsx
  libs/ui/src/components/Modal/Modal.scss
  libs/ui/src/components/Modal/Modal.tsx
  libs/ui/src/components/Modals/BidModal/BidModal.stories.tsx
  libs/ui/src/components/Modals/ConnectModal/ConnectModal.scss
  libs/ui/src/components/Modals/ConnectModal/ConnectModal.spec.tsx
  libs/ui/src/components/Modals/ConnectModal/ConnectModal.stories.tsx
  libs/ui/src/components/Modals/ConnectModal/ConnectModal.tsx
  libs/ui/src/components/Notification/Notification.scss
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

fix configs
  apps/web/src/components/Landing/Landing.tsx
  libs/config/src/env.ts
  libs/config/src/environment.dev.ts
  libs/config/src/environment.prod.ts
  libs/config/src/environment.stage.ts
  libs/config/src/environment.ts
  libs/config/src/index.ts
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

initial draft of publishing docs
  apps/docs/docs/publishing.md
Due: nx format:write --all --uncommitted, prettier --write

ui updates
  apps/web/src/components/AuctionContainer/AuctionContainer.tsx
  apps/web/src/components/Landing/Landing.scss
  apps/web/src/components/Landing/Landing.tsx
  libs/assets/src/lottie/musical_traits/energy_aggressive.json
  libs/assets/src/lottie/musical_traits/energy_relaxed.json
  libs/assets/src/lottie/musical_traits/energy_upbeat.json
  libs/assets/src/lottie/musical_traits/melody_complex.json
  libs/assets/src/lottie/musical_traits/melody_harmonic.json
  libs/assets/src/lottie/musical_traits/texture_noisy.json
  libs/assets/src/lottie/musical_traits/texture_smooth.json
  libs/content/src/copy.ts
  libs/content/src/index.ts
  libs/styles/src/colors.scss
  libs/ui/src/components/AnimatedMeter/AnimatedMeter.tsx
  libs/ui/src/components/BidBox/BidBox.scss
  libs/ui/src/components/BidBox/BidBox.tsx
  libs/ui/src/components/BidHistory/BidHistory.scss
  libs/ui/src/components/BidHistory/BidHistory.spec.tsx
  libs/ui/src/components/BidHistory/BidHistory.tsx
  libs/ui/src/components/BidHistory/BidHistoryItem.scss
  libs/ui/src/components/BidHistory/BidHistoryItem.tsx
  libs/ui/src/components/Button/Button.scss
  libs/ui/src/components/Modal/Modal.scss
  libs/ui/src/components/MusicalTrait/MusicalTrait.scss
  libs/ui/src/components/MusicalTrait/MusicalTrait.spec.tsx
  libs/ui/src/components/MusicalTrait/MusicalTrait.stories.tsx
  libs/ui/src/components/MusicalTrait/MusicalTrait.tsx
  libs/ui/src/components/TraitsBox/TraitsBox.scss
  libs/ui/src/components/TraitsBox/TraitsBox.tsx
  libs/ui/src/index.ts
Due: nx affected:lint --fix, nx affected --target=stylelint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write

update docs
  apps/docs/docs/Ops/deployment.md
Due: nx format:write --all --uncommitted, prettier --write

add auction lib
  libs/auction/.eslintrc.json
  libs/auction/.gitignore
  libs/auction/README.md
  libs/auction/jest.config.js
  libs/auction/package.json
  libs/auction/project.json
  libs/auction/src/index.ts
  libs/auction/src/utils/utils.ts
  libs/auction/tests/auction.test.ts
  libs/auction/tests/token.test.ts
  libs/auction/tests/utils.ts
  libs/auction/tsconfig.json
  libs/auction/tsconfig.spec.json
  package.json
  tsconfig.base.json
  workspace.json
Due: nx affected:lint --fix, nx format:write --all --uncommitted, eslint --cache --fix, prettier --write
